@model ShakleeSolutions.Models.ViewModels.ViewFormsViewModel

@{
    ViewBag.Title = "ViewForms";
}

<h2>ViewForms</h2>

<p>
    @Html.ActionLink("Back to View Clients", "Index", "Client")
    <br/>
    @Html.ActionLink("Create New", "AddForm", "Form", new {clientId = Model.ClientId}, new {})
</p>
<table class="table">
    @foreach (var item in Model.Forms)
    {
        if (Model.Forms.IndexOf(item) == 0)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Date)
                </th>
                <th></th>
            </tr>
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) | 
                @Html.ActionLink("View Solutions", "SolutionsForForm", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
