@using ShakleeSolutions.Models.ViewModels

@model IEnumerable<SolutionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Solution", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solution.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AilmentCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Solution.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AilmentCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Solution.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Solution.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Solution.Id })
        </td>
    </tr>
}

</table>
